body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container{
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
}

.link {
    text-decoration: none;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title {
    color: #2E2F42;
}
.section-title span {
    color: #4d5ae5;
}


/**--------------HEADER-----------**/
.header {
    width: 100%;
    position: sticky;
    border-bottom: 1px solid #E7E9FC;
    background: #FFF;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        height: 100%;
}

.header-navigation {
    display: flex;
    align-items: center;
    
    
}

.header-logo {
    color: #4D5AE5;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
        padding: 24px 0;
}

.header-menu-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;

}

.header-menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404BBF;
}

.studio {
    position: relative;
    color: #404BBF;
}

.studio::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    width: 100%;
}

.header-menu-link:hover,
.header-menu-link:focus{
    color: #404bbf;
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404bbf;
}

.header-address {
    font-style: normal;
    
}

.header-address-list {
    display: flex;
    gap: 40px;
}


.header-address-link {
    color: #434455;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**-------------HERO----------**/


.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.hero {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    block-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    background-size: cover;
}

.hero-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
}

.button-order:hover,
.button-order:focus {
    background-color: #404BBF;
}


.button-order {
    color: #FFF;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: 4px;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}







/**------------BENEFITS----------**/

.benefits {
    background: #FFF;
    flex-shrink: 0;
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: #F4F4FD;
}

.benefits-container {
    
}

.benefits-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}

.benefits-item {
    width: calc((100% - 24px * 3) / 4);
}

.benefits-subtitle {
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.benefits-item-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}

    /**----------OUR TEAM---------**/

.team {
    background: #F4F4FD;
    padding: 120px 0;
}

.team-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: calc((100% - 24px * 3) / 4);
}

.team-img {
    width: 100%;
}


.team-div {
    padding: 32px 0;
    text-align: center;
    margin-bottom: 8px;
}

.team-subtitle {
    color:  #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-item-text {
    color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    gap: 24px;
}


.team-icon-item {
    fill: #f4f4fd;
    height: 40px;
    width: 40px;
}
.team-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.team-icon-link:hover,
.team-icon-link:focus {
    background-color: #404BBF;
}

.team-icon {
    display: flex;
        align-items: center;
        justify-content: center;
}

/**--------------OUR PORTFOLIO----------**/

.portfolio-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 111%;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.portfolio-list:hover {
    
}

.portfolio-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-item:hover .sellers-cover-text{
    transform: translateY(0);
    
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.sellers-cover-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    cursor: pointer;
}



.portfolio-img {
    cursor: pointer;
    max-width: 100%;
    height: auto;
}

.text1 {
    border: 1px solid #e7e9fc;
    padding: 32px 16px;
    border-top: none;
}


/**-----------FOOTER----------**/

.footer {
    background: #2E2F42;
    padding: 100px 0;
    background-position: center;
}

.footer-container {
    display: flex;
    align-items: baseline;
    
}

.footer-logo {
    display: inline-block;
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer-cont-logo {
    margin-right: 120px;
}

.footer-logo-blue {
    color: #F4F4FD;
}

.footer-item-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}


.footer-social {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.social-media-text {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.social-medias {
    display: flex;
    gap: 16px;
}

.footer-soc-media-item {
    width: 40px;
    height: 40px;
}

.footer-soc-media-link {
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-media-link:hover,
.footer-soc-media-link:focus {
    background-color: #31d0aa;
}

.social-media {
    fill: #f4f4fd;
}

.footer-sub {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-input::placeholder {
    color: #ffffff;
}

.footer-input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding-left: 16px;
    color: #FFF;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-form-btn {
    height: 40px;
    min-width: 165px;
    color: #FFF;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 8px 24px;
    border-radius: 4px;
    background-color: #4D5AE5;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
    background-color: #404BBF;
}

.sub-icon {
    color: #FFF;
    margin-left: 16px;
}



/* -------MODAL-------- */

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    position: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.is-open {
    opacity: 1;
    visibility: visible; 
    pointer-events: auto;
}

.modal {
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px 24px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    margin-bottom: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #E7E9FC;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;

}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover>.modal-close-icon,
.modal-close-btn:focus>.modal-close-icon {
    fill: #FFFFFF;
}

.modal-title {
    max-width: 360px;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}


.modal-form {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    top: 130px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-field-check {
    margin-bottom: 24px;
}

.modal-field:hover,
.modal-field:focus {
    fill: #4D5AE5;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding-left: 38px;
    color: #2E2F42;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input::placeholder {
    color: rgba(46, 47, 66, 0.40);
    padding-top: 8px;
}

.modal-input:hover,
.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input-wrap {
    position: relative;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label:hover,
.modal-label:focus {
    border-color: #4D5AE5;
}

.modal-icon {
    color: #2E2F42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-icon {
    fill: #4D5AE5;
}

.modal-input-wrap:hover,
.modal-input-wrap:focus {
    border-color: #4D5AE5;
}

.modal-field-com {
    margin-bottom: 16px;
}

.modal-text {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    outline: transparent;
    padding: 8px 16px;
    resize: none;
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 8px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal-text:focus {
    border-color: #4D5AE5;
}

.check-text {
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    position: relative;
}

.check-text a {
    color: #4D5AE5;
    text-decoration-line: underline;
}

.user-priv-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}


.check-input:checked+.check-text span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.send-button {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: block;
    margin: auto;
    align-items: center;
    padding: 16px 32px;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover,
.send-button:focus {
    background-color: #404BBF;
}